# NOTE-EVENTS

In [1]:
import pandas as pd
import numpy as np

In [ ]:
enotes = pd.read_csv('../NOTEEVENTS.csv')

In [36]:
enotes.count()

ROW_ID         2083180
SUBJECT_ID     2083180
HADM_ID        1851344
CHARTDATE      2083180
CHARTTIME      1766614
STORETIME      1246404
CATEGORY       2083180
DESCRIPTION    2083180
CGID           1246404
ISERROR            886
TEXT           2083180
dtype: int64

In [7]:
enotes.CATEGORY.unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ',
       'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition',
       'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology',
       'Nursing/other'], dtype=object)

total available notes counts by category

In [26]:
notesub = enotes.drop(['ROW_ID', 'CHARTDATE', 'CHARTTIME','STORETIME','DESCRIPTION','CGID', 'ISERROR','TEXT'], axis = 1)
notesub.groupby('CATEGORY').count()

                   SUBJECT_ID  HADM_ID
CATEGORY
Case Management           967      954
Consult                    98       98
Discharge summary       59652    59652
ECG                    209051   138190
Echo                    45794    34037
General                  8301     8209
Nursing                223556   220758
Nursing/other          822497   821258
Nutrition                9418     9378
Pharmacy                  103      102
Physician              141624   140100
Radiology              522279   378920
Rehab Services           5431     5409
Respiratory             31739    31667
Social Work              2670     2612

All suicide related ICD-9 codes obtained from short/long descriptions and ICD-10 mapping

In [14]:
suicide_codes = ["E9500", "E9501", "E9502", "E9503", "E9504", "E9505", "E9506", "E9507", "E9508", "E9509", "E9510", "E9511", "E9518", "E9520", "E9521", "E9528", "E9529", "E9530", "E9531", "E9538", "E9539", "E954", "E9550", "E9551", "E9552", "E9553", "E9554", "E9555", "E9556", "E9557", "E9559", "E956", "E9570", "E9571", "E9572", "E9579", "E9580", "E9582", "E9583", "E9584", "E9585", "E9586", "E9587", "E9588", "E9589", "V6284", "V1559", "V5889", "9089"]

In [12]:
df_dia = pd.read_csv('../DIAGNOSES_ICD.csv')

total number of incidents (888) assocaited with suicide ICD codes:

In [16]:
df_suicide = df_dia.loc[df_dia['ICD9_CODE'].isin(suicide_codes)]

total number of patients (478) associated with suicide ICD codes:

In [ ]:
df_patients_suicide = df_dia_suicide.SUBJECT_ID.sort_values().unique()

Patients with most suicide related incidents

In [32]:
df_suicide[df_suicide.duplicated(['SUBJECT_ID'], keep = False)].groupby('SUBJECT_ID').count().sort_values(by='ROW_ID', ascending=False).head()

            ROW_ID  HADM_ID  SEQ_NUM  ICD9_CODE
SUBJECT_ID
58389            6        6        6          6
29862            6        6        6          6
65954            5        5        5          5
81662            5        5        5          5
31881            5        5        5          5

In [33]:
df_suicidenotes = pd.merge(df_suicide, notesub, on = 'SUBJECT_ID', how = 'inner')

In [35]:
df_suicidenotes.groupby('CATEGORY').count()

,ROW_ID,SUBJECT_ID,HADM_ID_x,SEQ_NUM,ICD9_CODE,HADM_ID_y
CATEGORY,,,,,,
Case Management,48,48,48,48,48,48
Consult,7,7,7,7,7,7
Discharge summary,1432,1432,1432,1432,1432,1432
ECG,5014,5014,5014,5014,5014,3491
Echo,447,447,447,447,447,331
General,191,191,191,191,191,190
Nursing,5836,5836,5836,5836,5836,5708
Nursing/other,5806,5806,5806,5806,5806,5762
Nutrition,158,158,158,158,158,158
Physician,3940,3940,3940,3940,3940,3836
Radiology,10944,10944,10944,10944,10944,7669
Rehab Services,86,86,86,86,86,82
Respiratory,638,638,638,638,638,638
Social Work,293,293,293,293,293,286